<header class="header">
    <nav class="nav">
        <a href="/" class="nav__logo-link">
            <img src="/images/logo.svg" alt="Heroes for Sale logo" class="nav__logo-img" width="286" height="27">
        </a>
        <ul class="nav__list">
            <li class="nav__list__item">
                <a href="/" class="nav__list__link">Games</a>
            </li>
            <% if (isLoggedIn) { %>
                <% if (currentUser.admin) { %>
                    <li class="nav__list__item">
                        <a href="/game/add" class="nav__list__link">Add Game</a>
                    </li> 
                <% } else { %>
                    <li class="nav__list__item">
                        <a href="/user/profile" class="nav__list__link">Profile</a>
                    </li>
                <% } %>
                <li class="nav__list__item">
                    <a href="/user/logout" class="nav__list__link">Log Out</a>
                </li>
            <% } else { %>
                <li class="nav__list__item">
                    <a href="/user/login" class="nav__list__link">Log In</a>
                </li>
                <li class="nav__list__item">
                    <a href="/user/signup" class="nav__list__link">Sign Up</a>
                </li>
            <% } %>
            <li class="nav__list__item cart">
                <a href="/checkout-preview" class="nav__list__link cart-icon-link" aria-label="Your shopping cart">
                    <svg class="cart-icon" fill="none" viewBox="0 0 24 24" width="22" height="22" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"/>
                    </svg>
                    <% if (session.cart) { %>
                        <span><%= session.cart.cartTotalQuantity %></span>
                    <% } else { %>
                        <span><%= "0" %></span>
                    <% } %> 
                </a>
            </li>
        </ul>
    </nav>
</header>