<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap" rel="preload stylesheet" as="style">
    <link rel="preload stylesheet" as="style" href="/css/style.css">
    <script defer src="https://js.stripe.com/v3/"></script>
    <title><%= title %></title>
</head>
<body>
    <%- include("../partials/header") %> 
    <div class="wrapper">
        <%- body %> 
    </div>
    <%- include("../partials/footer") %> 
</body>
</html>