<main class="main-404">
    <section class="main__info-404">
        <h1 class="main__title-404">404 Not Found</h1>
        <p class="main__desc-404">Sorry, but this page does not exist.</p>
    </section>
    <picture>
        <source srcset="/images/404/404-space-invader.webp" type="image/webp">
        <img class="main__img-404" src="/images/404/404-space-invader.jpg" alt="Space invader on yellow brick background." width="1232" height="854">
    </picture>
</main>