<h1>Profile Page</h1>

<% if (locals.error) { %>
    <p class="error"><%= error %></p>
<% } %> 

<% if (locals.user) { %>
    <h2>Welcome back, <%= locals.user.first_name %>!</h2>
    <a href="/user/logout">LOG OUT</a>
<% } %>