<main class="signup-card">
    <section class="signup-card__left">
        <h1 class="signup-card__title">Sign Up</h1>
        <form action="" class="signup-card__form">
            form
        </form>
    </section>
    <section class="signup-card__right">

    </section>
</main>