<main class="main--checkout">
    <section class="checkout-section">
        <a href="/" class="checkout-section__link">
            <svg class="checkout-section__link__icon" fill="none" viewBox="0 0 24 24" width="15" height="15" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"/>
            </svg>
            <span>Back to Games</span>
        </a>
        <% if (locals.products) { %>
            <% products.forEach(product => { %>
                <article class="checkout-section__item">
                    <h3><%= product.item.title %></h3>
                </article>
            <% }); %>
        <% } else { %>
            <p>You have no items in your cart yet.</p>
        <% } %>
    </section>
    <aside class="order-summary">
        <table class="order-summary__table">

        </table>
        <button class="order-summary__btn">
            <a href="/checkout" class="order-summary__btn__link">Checkout</a>
        </button>
    </aside>
</main>